body{
    padding: 0%;
    margin: 0%;
    /* width: 1285px; */
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}
.navdiv a {
    text-decoration: none;
    padding-left: 30px;
    color: #000000;
    font-family: Roboto;
}
.home{
    width: 100%;
}
.home img{
    width: 100%;
    
}
.home .discrip{
    color: #000000;
    text-align: center;
    background-color: white;
    position: relative;
    top: -200px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px 36px;
    border: 1px solid #D2D2D2;
}
.home .discrip .paragraph{
    text-align: start;
}
#photography{
    color: gray;
}
.home .discrip a{
    text-decoration: none;
    color: #737373;
    font-weight: 600;
    font-size: 18px;
}
.home .discrip button {
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
    margin: 36px;
    padding: 14px 36px;
}
.service{
    padding: 0 100px 0 100px;
}
.service .headname{
    display: flex;
    justify-content: space-between;
    color: gray;
}
.headname a {
    color: black;
    text-decoration: none;
}
.headname p{
    margin-bottom: 20px;
}
hr{
    margin-top: -8px;
    color: rgba(228, 224, 224, 0.527);
}
.service img{
    width: 100%;
}
.service-card {
    display: flex;
    /* flex-wrap: wrap; */
    
}
.card{
    margin: 43px;
}
.card p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.card a{
    color: black;
    font-weight: 500;
    size: 14px;
}
.service-2{
    margin-top: 100px;
}
.subscribe{
    background-color: #EBEBEB;
    padding: 77px 33%;
    text-align: center;
}
.subscribe label{
font-family: 'Playfair Display';
font-weight: 400;
font-size: 32px;
line-height: 28px;
text-align: center;
color: #383838;
}
#email {
    margin-top: 50px;
    padding: 10px 127px 10px 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    border: none;
}
.submit{
    margin-left: 14px;
    background-color: white;
    width: 97px;
    height: 46px;
    border: black solid 1px;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: #101010;
    padding: 36px 30px;
}
footer a {
    text-decoration: none;
    color: #E7E7E7;
    font-weight: 400;
font-size: 12px;
line-height: 28px;
padding-right: 10px;
}